<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vander.burner"
    >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.DebugApp"
        tools:replace="name"
        >

        <activity
            android:name=".app.ui.DebugActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/HoodThemeDark"
            />

    </application>
</manifest>
