<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vander.burner"
    >

    <application
        android:name=".app.DebugApp"
        tools:replace="name"
        >

        <activity
            android:name=".app.ui.DebugActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/HoodThemeDark"
            />

    </application>
</manifest>
